.featured{
  padding-bottom: 180px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 60px;
  }
  &__title{
    color: var(--gray-900, #1E212C);
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    display: flex;
    flex-direction: column;

    span{
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  &__btn{
    color: #FF3F3A;
    background: transparent;
    border: 1px solid var(--btn-gradient, #FF3F3A);
  }
  &__row{
    display: flex;
    gap: 30px;
    margin-top: 60px;
    flex-wrap: wrap;
     }

  &__card{
    width: calc(50% - 15px);
    display: flex;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E5E8ED);
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);;
    &-info{
      padding: 32px;
    }
    &-text{
      padding: 0 8px;
      color: var(--white, #FFF);
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      display: inline-block;
      &.green{
        border-radius: 4px;
        background:  #03CEA4;
      }
    }
    &-title{
      color: var(--gray-900, #1E212C);
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;
      margin: 20px 0;
    }
    &__price{
      color: var(--gray-700, #787A80);
      font-size: 18px;
      font-weight: 400;
      span{
        color: var(--danger, #FF4242);
        font-weight: 700;``




















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































